<%- include("partials/header"); -%>

    <div class="question-details">
        <h4 class="question-title"><%=title%></h4>
        <div class="question-prob-statement">
            <p><%=statement%></p>
            
            <p><a href="<%=url%>" target="_blank"><u>Consider solving the problem here</u></a></p>
        </div>
    </div>

    <%- include("partials/footer"); -%>

  </body>
</html>
